.products {
	padding: 60px 40px 100px;
}
.products__search-block {
	margin-bottom: 40px;
}

.products__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
}

.products__header-actions {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 200px;
}