/*  Переменные со шрифтами  */
$accent-font: 'Ubuntu', sans-serif;

/* Основные цвета */
$gray : #868799;
$lgray : #F4F5F7;
$grey-white : #E5E5FA;
$black : #2C2C2C;
$blue  : #3772FE;
$lblue  : #E3EEF2;
$orange: #F69421;
$white: #FFFFFF;
$red: #F86635;

/* Разрешения */
$mobile:				489px;
$tablet:				768px;
$desktop:				1024px;
$wd:					1440px;
$fullhd:				1920px;